[Desktop Entry]
Type=Service
Name=STL 3D model (ASCII) (Keneric)
Name[x-test]=xxSTL 3D model (ASCII) (Keneric)xx

X-KDE-ServiceTypes=ThumbCreator
MimeType=model/x.stl-ascii;model/stl;

X-KDE-Library=keneric
CacheThumbnail=true